<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %>,弘业中间件数据平台, 平台集成了ERP、小程序等主要数据源，
      为公司数据分析和报表展示提供支持，具有极强的安全性和可用性，属于公司IT基础建设的关键部分。</p>
    <p>this is <%= author %></p>
  </body>
</html>
